spring:
  application:
    name: oauth-server
  config:
    import: optional:configserver:http://localhost:8888
server:
  port: 9000
logging:
  level:
    org.springframework.security: ERROR
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
